<div class="container">
    <h1>Burger Muncher!</h1>
        <img src="/assets/img/1.png" alt="burger">
            <form class="add-form">
                <div class="form-group">
                    <input type="text" id="burger" name="name">
                </div>
            </form><br>
            <button type="submit">Submit</button>
</div>

